<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Latte lang - Develop</title>
    <link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.css" rel="stylesheet"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <link href="stylesheets/code.css" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.js"></script>
    <script src="javascripts/common.js"></script>
    <script src="javascripts/dev.js"></script>
    <script src="javascripts/code.js"></script>
    <script src="javascripts/scanner.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
</head>
<body ng-app="dev" ng-controller="controller" class="pushable">
<div class="ui large top fixed borderless menu">
    <div class="ui container"><a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs"
                                 class="item">{{nav.name}}</a>

        <div class="right menu">
            <div class="item"><a href="{{git_repo}}" class="ui teal button">Fork Me</a></div>
        </div>
    </div>
</div>
<div class="ui vertical inverted sidebar menu left">
    <a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs" class="item">{{nav.name}}</a></div>
<div class="pusher">
    <div class="ui black big launch right attached fixed button"><a style="color:white" class="toc item"><i
            class="sidebar icon"></i></a></div>
    <div style="margin-top:60px;" class="ui text container">
        <h1 ng-bind="issue.title">提交Issue</h1>

        <p ng-bind-html="issue.content"></p>

        <h1>License</h1>

        <p>MIT LICENSE</p>

        <div>
            <h1>{{compiler.title}}</h1>

            <p ng-bind-html="compiler.content"></p>
        </div>

        <h1>{{src_code.title}}</h1>
        <span>{{src_code.descr}}</span>

        <div class="ui list">
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">src</div>
                    <div class="description">source code of the project</div>
                    <div class="list">
                        <div class="item">
                            <i class="folder icon"></i>

                            <div class="content">
                                <div class="header">main</div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>

                                        <div class="content">
                                            <div class="header">java</div>
                                            <div class="list">
                                                <div class="item">
                                                    <i class="folder icon"></i>

                                                    <div class="content">
                                                        <div class="header">lt</div>
                                                        <div class="list">
                                                            <div class="item">
                                                                <i class="folder icon"></i>

                                                                <div class="content">
                                                                    <div class="header">compiler</div>
                                                                    <div class="description">related to compilation
                                                                    </div>
                                                                    <div class="list">
                                                                        <div class="item">
                                                                            <i class="folder icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">lexical</div>
                                                                                <div class="description">lexical
                                                                                    analysis
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="folder icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">semantic</div>
                                                                                <div class="description">semantic
                                                                                    analysis
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="folder icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">syntactic</div>
                                                                                <div class="description">syntactic
                                                                                    analysis
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">CodeGenerator.java
                                                                                </div>
                                                                                <div class="description">byte code
                                                                                    generator
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">CompileUtil.java
                                                                                </div>
                                                                                <div class="description">definition of
                                                                                    keywords and symbols
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Parser.java</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Scanner.java</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">
                                                                                    SemanticProcessor.java
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <i class="folder icon"></i>

                                                                <div class="content">
                                                                    <div class="header">dependencies</div>
                                                                    <div class="description">
                                                                        repackage of 3rd party libraries
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <i class="folder icon"></i>

                                                                <div class="content">
                                                                    <div class="header">lang</div>
                                                                    <div class="description">Latte runtime and libraries
                                                                        related to the language
                                                                    </div>
                                                                    <div class="list">
                                                                        <div class="item">
                                                                            <i class="folder icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">function</div>
                                                                                <div class="description">
                                                                                    functional interfaces for Lambda
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Dynamic.java</div>
                                                                                <div class="description">
                                                                                    related to InvokeDynamic
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">
                                                                                    FunctionalAbstractClass
                                                                                </div>
                                                                                <div class="description">Annotation,
                                                                                    mark as functional abstract class
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Lang</div>
                                                                                <div class="description">bases of lang
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">LtIterator</div>
                                                                                <div class="description">
                                                                                    iterator for the `for` statement
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">RangeList.java</div>
                                                                                <div class="description">
                                                                                    <code>..</code> and <code>.:</code>
                                                                                    operator related
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Undefined.java</div>
                                                                                <div class="description">undefined</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Utils.java</div>
                                                                                <div class="description">
                                                                                    all lt files import static methods
                                                                                    from this class
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Wrapper.java</div>
                                                                                <div class="description">wrap the
                                                                                    non-throwable object when they are
                                                                                    thrown
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <i class="folder icon"></i>
                                                                <div class="content">
                                                                    <div class="header">repl</div>
                                                                    <div class="description">
                                                                        Read Eval Print Loop and Script
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <i class="folder icon"></i>
                                                                <div class="content">
                                                                    <div class="header">util</div>
                                                                    <div class="description">
                                                                        utilities
                                                                    </div>

                                                                    <div class="list">
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">List</div>
                                                                                <div class="description">the List
                                                                                    constructed via <code>[]</code>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <i class="file icon"></i>

                                                                            <div class="content">
                                                                                <div class="header">Map</div>
                                                                                <div class="description">the Map
                                                                                    constructed via <code>{}</code>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="folder icon"></i>
                                        <div class="content">
                                            <div class="header">resources</div>
                                            <div class="description">
                                                libraries written in Latte and some files related to compilation
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="folder icon"></i>

                            <div class="content">
                                <div class="header">test</div>
                                <div class="list">
                                    <div class="item">
                                        <i class="folder icon"></i>

                                        <div class="content">
                                            <div class="header">java</div>
                                            <div class="description">test cases</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="folder icon"></i>

                                        <div class="content">
                                            <div class="header">resources</div>
                                            <div class="list">
                                                <div class="item">
                                                    <i class="folder icon"></i>

                                                    <div class="content">
                                                        <div class="header">lang-demo</div>
                                                        <div class="description">explains Latte syntax rules, and used
                                                            as test cases
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="file icon"></i>

                <div class="content">
                    <div class="header">LICENSE</div>
                    <div class="description">MIT LICENSE</div>
                </div>
            </div>

            <div class="item">
                <i class="file icon"></i>

                <div class="content">
                    <div class="header">ltls.md</div>
                    <div class="description">The Latte Language Specification</div>
                </div>
            </div>

            <div class="item">
                <i class="file icon"></i>

                <div class="content">
                    <div class="header">pom.xml</div>
                    <div class="description">Maven configureation file</div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
</body>
</html>