<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Latte lang - Develop</title>
    <link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.css" rel="stylesheet"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <link href="stylesheets/code.css" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.js"></script>
    <script src="javascripts/common.js"></script>
    <script src="javascripts/dev.js"></script>
    <script src="javascripts/code.js"></script>
    <script src="javascripts/scanner.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
</head>
<body ng-app="dev" ng-controller="controller" class="pushable">
<div class="ui large top fixed borderless menu">
    <div class="ui container">
        <div class="item" style="width: 60px">
            <div class="ui middle aligned tiny image">
                <img src="static/Latte-lang-logo-small.png">
            </div>
        </div>
        <a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs"
                                 class="item">{{nav.name}}</a>

        <div class="right menu">
            <div class="item"><a href="{{git_repo}}" class="ui orange button">Fork Me</a></div>
        </div>
    </div>
</div>
<div class="ui vertical inverted sidebar menu left">
    <a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs" class="item">{{nav.name}}</a></div>
<div class="pusher">
    <div class="ui black big launch right attached fixed button"><a style="color:white" class="toc item"><i
            class="sidebar icon"></i></a></div>
    <div style="margin-top:60px;" class="ui text container">
        <h1 ng-bind="issue.title">提交Issue</h1>

        <p ng-bind-html="issue.content"></p>

        <h1>License</h1>

        <p>MIT LICENSE</p>

        <div>
            <h1>{{compiler.title}}</h1>

            <p ng-bind-html="compiler.content"></p>
        </div>

        <h1>{{src_code.title}}</h1>
        <span>{{src_code.descr}}</span>

        <div class="ui list">
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">latte-compiler</div>
                    <div class="description">the latte-lang compiler</div>
                </div>
            </div>
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">latte-gradle-plugin</div>
                    <div class="description">a plugin for gradle which is able to compile latte source codes or run latte scripts</div>
                </div>
            </div>
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">latte-library</div>
                    <div class="description">libraries written in latte source codes</div>
                </div>
            </div>
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">latte-build</div>
                    <div class="description">the module is used to generate command-line program for latte</div>
                </div>
            </div>
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">latte-class-recorder</div>
                    <div class="description">the module is used to record ouptut classes of latte-compiler and latte-library</div>
                </div>
            </div>
            <div class="item">
                <i class="file icon"></i>

                <div class="content">
                    <div class="header">LICENSE</div>
                    <div class="description">MIT LICENSE</div>
                </div>
            </div>

            <div class="item">
                <i class="file icon"></i>

                <div class="content">
                    <div class="header">build.py</div>
                    <div class="description">the build script</div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
</body>
</html>
