<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Latte lang - Examples</title>
    <link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.css" rel="stylesheet"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <link href="stylesheets/code.css" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.js"></script>
    <script src="javascripts/common.js"></script>
    <script src="javascripts/example.js"></script>
    <script src="javascripts/code.js"></script>
    <script src="javascripts/scanner.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
</head>
<body ng-app="example" ng-controller="controller" class="pushable">
<div class="ui large top fixed borderless menu">
    <div class="ui container"><a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs" class="item">{{nav.name}}</a>

        <div class="right menu">
            <div class="item"><a href="{{git_repo}}" class="ui teal button">Fork Me</a></div>
        </div>
    </div>
</div>
<div class="ui vertical inverted sidebar menu left">
    <a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs" class="item">{{nav.name}}</a></div>
<div class="pusher">
    <div class="ui black big launch right attached fixed button"><a style="color:white" class="toc item"><i class="sidebar icon"></i></a></div>
    <div style="margin-top:55px;" class="ui text container">
        <div>
            <button style="margin-top:5px;" class="ui button" ng-class="{'black':showExample==$index}" ng-repeat="ex in examples" ng-click="switchTo($index)">{{ex.title}}</button>
        </div>
        <div ng-bind-html="examples[showExample].content"
            style="margin-top:40px;">
        </div>
    </div>
</div>
</body>
</html>