<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Latte lang - Syntax</title>
    <link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.css" rel="stylesheet"/>
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <link href="stylesheets/code.css" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.js"></script>
    <script src="javascripts/common.js"></script>
    <script src="javascripts/syntax.js"></script>
    <script src="javascripts/code.js"></script>
    <script src="javascripts/scanner.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
</head>
<body ng-app="syntax" ng-controller="controller" class="pushable">
<div class="ui large top fixed borderless menu">
    <div class="ui container"><a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs"
                                 class="item">{{nav.name}}</a>

        <div class="right menu">
            <div class="item"><a href="{{git_repo}}" class="ui teal button">Fork Me</a></div>
        </div>
    </div>
</div>
<div class="ui vertical inverted sidebar menu left">
    <a href="{{nav.link}}" ng-class="{'active':nav.active}" ng-repeat="nav in navs" class="item">{{nav.name}}</a></div>
<div class="pusher">
    <div class="ui black big launch right attached fixed button"><a style="color:white" class="toc item"><i
            class="sidebar icon"></i></a></div>
    <div style="margin-top:60px;" class="ui container">
        <span ng-bind-html="descr"></span>
        <br>
        <br>

        <div ng-repeat="file in files">
            <h1>{{file.file}}</h1>
            <pre style="word-wrap: break-word" ng-bind-html="highlightLt(file.file, file.code)"></pre>
        </div>
    </div>
</div>
</body>
</html>