Run(
           ; the class path. classes in these URLs will be loaded
    classPath:[
        "${dir}${separator}target${separator}classes"
    ],
           ; the main class. the main method is retrieved from the class
    mainClass:""
) exec []  ; the main method arguments. should be a list of Strings