.str {
    color: #1BA143;
}

.num {
    color: #AC1A01;
}

.bool {
    color: #CF8F2D;
}

.modifier {
    color: purple;
}

.key {
    color: teal
}

.symbol {
    color: #619ED6;
}

.valid {
    color: black;
}

pre {
    color: grey;
    font-size: 16px;
    line-height: 20px;
}