'scopeName':'source.lt'
'name':'LessTyping'
'fileTypes':['lt','lts']
'patterns':[
    {
        'match':'(\\b[0-9]+\\.[0-9]+\\b|\\b[0-9]+\\b)'
        'name':'constant.numeric.lt'
    }
    {
        'match':'\\:'
        'name':'constant.colon.lt'
    }
    {
        'match':'(\\b(pub|pri|pro|pkg|abs|val|native|sync|transient|volatile|strictfp)\\b)'
        'name':'storage.modifier.lt'
    }
    {
        'match':';.*'
        'name':'comment.lt'
    }
    {
        'match':'\\b(true|false|yes|no)\\b'
        'name':'constant.boolean.lt'
    }
    {
        'match':'(\\b(class|interface|do|while|if|else|elseif|in|for|this|static|int|bool|char|byte|long|short|float|double|type|data|null|Unit|as|try|catch|undefined|and|or|throw|finally)\\b|\\[|\\]|\\{|\\})'
        'name':'keyword.lt'
    }
    {
        'match':'(\\>|\\#|\\.\\_|\\:\\:\\_|\\<|\\&|\\^|\\||\\+|\\-|\\*|\\/|\\%|\\~|\\=|\\.\\.\\.)'
        'name':'keyword.lt'
    }
    {
        'match':'(^define|^undef)'
        'name':'invalid.illegal.lt'
    }
    {
        'begin':'"'
        'beginCaptures':
            '0':
                'name':'punctuation.definition.string.begin.lt'
        'end':'"'
        'endCaptures':
            '0':
                'name':'punctuation.definition.string.end.lt'
        'name':'string.quoted.double.lt'
        'patterns':[
            {
                'include':'punctuation.definition.string.begin.lt'
            }
            {
                'include':'punctuation.definition.string.end.lt'
            }
            {
                'match':'\\\\.'
                'name':'constant.character.escape.lt'
            }
        ]
    }
    {
        'begin':"'"
        'beginCaptures':
            '0':
                'name':'punctuation.definition.string.begin.lt'
        'end':"'"
        'endCaptures':
            '0':
                'name':'punctuation.definition.string.end.lt'
        'name':'string.quoted.double.lt'
        'patterns':[
            {
                'include':'punctuation.definition.string.begin.lt'
            }
            {
                'include':'punctuation.definition.string.end.lt'
            }
            {
                'match':'\\\\.'
                'name':'constant.character.escape.lt'
            }
        ]
    }
]
